<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
    </style>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="./static/js/lecture.js"></script>
</head>
<body>
    <div id="player"></div>
    <script>
        function onYouTubeIframeAPIReady() {
            console.log("onYouTubeIframeAPIReady");
            new YT.Player("player", {
                height: "100%",
                width: "100%",
                videoId: "{{ youtube_id }}",
                playerVars: {
                    controls: 0,
                },
                events: {
                    onReady: onPlayerReady,
                }
            });
        }
    </script>
</body>
</html>
